@using AzureDesignStudio.Models
@using AzureDesignStudio.Services
@using AzureDesignStudio.SharedModels.Protos
@using AzureDesignStudio.SharedModels.User
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits FeedbackComponent<string, string>
@inject NavigationManager _navManager
@inject SignOutSessionStateManager _signOutManager
@inject DrawerService _drawerService
@inject DeployGrpcService _deployService
@inject UserSettingsGrpService userSettingsService
@inject IMessageService message

<AuthorizeView>
    <Authorized>
        <div style="width: 300px">
            <Row>
                <Col Span="18">You logged in as @context.User.Identity?.Name</Col>
                <Col Span="6"><Button OnClick="BeginLogout">Log out</Button></Col>
            </Row>
            <Divider />
            <Spin Spinning="@(!_userSettingsLoaded)">
                <Form @ref="@_userSettingsForm" Model="@_userSettingsModel" Context="formContext" ValidateMode="@FormValidateMode.Complex"
                      LabelColSpan="24" WrapperColSpan="24">
                    <FormItem Label="GitHub PAT">
                        <Input @bind-Value="@formContext.GithubPat" />
                    </FormItem>
                </Form>
            </Spin>
            <br />
            <br />
            <Button Type="primary" OnClick="HandleUpdateUserSettingsClick">Save</Button>
            <Divider />
            <Spin Spinning="@_spinning">
                @if (_showLinkSubscription)
                {
                    <AntList Bordered DataSource="@_linkedSubscriptions" Size="small">
                        <Header><b>Your linked subscriptions</b></Header>
                        <ChildContent Context="item">
                            <ListItem>@item.SubscriptionName</ListItem>
                        </ChildContent>
                    </AntList>
                }
                else
                {
                    <Button OnClick="LinkAzureSubscription">Link Azure Subscription</Button>
                }
            </Spin>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>Please sign in with your user account.</p>
        <br />
        <Button Type="primary" OnClick="BeginLogin">Sign in</Button>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;

    private bool _spinning = true;
    private bool _userSettingsLoaded = false;
    private bool _showLinkSubscription = false;
    private IList<SubscriptionRes>? _linkedSubscriptions = null;
    private Form<UserSettingsModel> _userSettingsForm;
    private UserSettingsModel _userSettingsModel = new UserSettingsModel();

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        if (user.Identity?.IsAuthenticated ?? false)
        {
            _userSettingsModel.GithubPat = await GetUserSettingAsync(UserSettingType.GithubPat);
            _userSettingsLoaded = true;

            await GetSubscriptionNames();
        }
        _spinning = false;

        await base.OnInitializedAsync();
    }

    private async Task<bool> GetSubscriptionNames()
    {
        _linkedSubscriptions = await _deployService.GetLinkedSubscriptions();
        var hasLinked = _linkedSubscriptions?.Count > 0;
        if (_showLinkSubscription != hasLinked)
        {
            _showLinkSubscription = hasLinked;
            return true; // State has changed.
        }

        return false;
    }

    private async Task BeginLogin()
    {
        DrawerRef<string> dr = (FeedbackRef as DrawerRef<string>)!;
        await dr!.CloseAsync(string.Empty);

        _navManager.NavigateTo("authentication/login");
    }

    private async Task BeginLogout(MouseEventArgs args)
    {
        DrawerRef<string> dr = (FeedbackRef as DrawerRef<string>)!;
        await dr!.CloseAsync(string.Empty);

        await _signOutManager.SetSignOutState();
        _navManager.NavigateTo("authentication/logout");
    }

    private async Task LinkAzureSubscription()
    {
        int azSubDrawerWidth = 450;

        DrawerRef<string> userDrawer = (FeedbackRef as DrawerRef<string>)!;
        userDrawer.Config.Width += azSubDrawerWidth;
        await userDrawer.UpdateConfigAsync();

        var drawerOptions = new DrawerOptions()
            {
                Title = "Link your Azure subscription",
                Width = azSubDrawerWidth,
            };

        var azSubDrawer = await _drawerService.CreateAsync<AzSubscriptionDrawerTemplate, string, string>(drawerOptions, "");
        azSubDrawer.OnClose = async () =>
        {
            userDrawer.Config.Width -= azSubDrawerWidth;
            await userDrawer.UpdateConfigAsync();
        };

        azSubDrawer.OnClosed = async result =>
        {
            userDrawer.Config.Width -= azSubDrawerWidth;
            await userDrawer.UpdateConfigAsync();

            if (result != "completed")
                return;

            _spinning = true;
            await InvokeAsync(StateHasChanged);
            await GetSubscriptionNames();
            _spinning = false;
            await InvokeAsync(StateHasChanged);
        };
    }

    async void HandleUpdateUserSettingsClick()
    {
        if (!_userSettingsForm.Validate())
            return;

        message.Info("Updating user settings");

        var response = await userSettingsService.AddOrUpdateUserSetting(UserSettingType.GithubPat, _userSettingsModel.GithubPat);
        if (response.StatusCode == 200)
        {
            message.Info("User settings updated");
        }
        else
        {
            message.Error("Something went wrong. Try again.");
        }
    }

    async Task<string> GetUserSettingAsync(UserSettingType userSettingType)
    {
        var response = await userSettingsService.GetUserSetting(userSettingType);

        if (response.StatusCode == 200)
        {
            return response.Value;
        }

        return "";
    }
}
